= form_for [@drug] do |f|
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :description
  = f.text_area :description
  %br/
  = f.label :cost
  = f.text_field :cost
  %br/
  %h4 Choose Patient
  = hidden_field_tag 'drug[patient_ids][]', ''
  - @patients.each do |patient|
    .col-md-4
      = check_box_tag 'drug[patient_ids][]', patient.id, @drug.patients.include?(patient)
      %br
      = patient.first_name
      = patient.last_name
      |
      = patient.description
      |
      = patient.dob
      |
      = patient.gender
      |
      = patient.blood_type
  %br
  = f.submit
