= form_for (@drug) do |f|
  - if @drug.errors.any?
    - @drug.errors.full_messages.each do |message|
      %div{class: "error-drug"}
        = message
  .form-group
    = f.label :name, class: "col-md-2 control-label"
    = f.text_field :name, class: "form-control", id: "nameInput"
  .form-group
    = f.label :description, class: "col-md-2 control-label"
    = f.text_area :description, class: "form-control"
  .form-group
    = f.label :cost, class: "col-md-2 control-label"
    = f.text_field :cost, class: "form-control"

  %h4 Assign to Patient
  = hidden_field_tag 'drug[patient_ids][]', ''
  - @patients.each do |patient|
    .col-md-4
      = check_box_tag 'drug[patient_ids][]', patient.id, @drug.patients.include?(patient)
      %br
      = patient.first_name
      = patient.last_name
      |
      = patient.description
      |
      = patient.dob
      |
      = patient.gender
      |
      = patient.blood_type
      %br
  .input-group-btn
    %button.btn.btn-default{id: "create1"}
      Create Drug
