%h1 Prescriptions
= link_to "Home", root_path
|
= link_to "Add another Prescription", new_drug_path
%ul
  - @drugs.each do |drug|
    %br/
    %li= link_to "View Prescription", drug_path(drug)
    %br/
    %li
      %strong Prescription Name:
      = drug.name
    %br/
    %li
      %strong Prescription Description:
      = drug.description
    %br/
    %li
      %strong Prescription Cost:
      = drug.cost
    %br/
    = link_to "Edit", edit_drug_path(drug)
    %br/
    = link_to "Delete", drug_path(drug), method: :delete
    %br/
    = "---------------------------"
