<h1>Prescriptions</h1>
<%= link_to "Return to Patient Record", clinic_patient_path(@clinic, @patient) %>
|
<%= link_to "Add another Prescription", new_clinic_patient_drug_path(@clinic, @patient)  %>

<ul>
<% @drugs.each do |drug| %>
  <li><%= link_to "View Prescription", clinic_patient_drug_path(@clinic, @patient, drug) %></li>
  <br>
  <li><strong>Prescription Name:</strong> <%= drug.name %></li>
  <br>
  <li><strong>Prescription Description:</strong> <%= drug.description %></li>
  <br>
  <li><strong>Prescription Cost:</strong> <%= drug.cost %></li>
  <br>
  <%= link_to "Edit", edit_clinic_patient_drug_path(@clinic, @patient, drug) %>
  <br>
  <%= link_to "Delete", clinic_patient_drug_path(@clinic, @patient, drug), method: :delete, data: {confirm: "Are you sure you want to delete record?"} %>
  <br> 
</ul>
<% end %>