.container 
  .row
    .col-md-12.jumbotron-drugs
.container
  .row
    .col-md-12.text-center
      %h1.drug-headline
        Our Pharmaceutical Partners
%br
.container
  .row.section-2
    .col-md-6
      .image-11
    .col-md-6
      %h3.partner-link
        Seamless
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %br
  .row
    .col-md-6
      .image-12
    .col-md-6
      %h3.partner-link
        Win-Win
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %br
  .row.section-2
    .col-md-6
      .image-13
    .col-md-6
      %h3.partner-link
        Pro-active
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.container
  .row
    .col-md-12.jumbotron-view
  .row
    .col-md-12.text-center
      %h2.partner-link
        Enjoy what you see.
.container
  .row
    .col-md-12.text-center
      = form_tag drugs_path, method: :get, class: "navbar-form", role: "search" do
        .input-group
          = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search our Partners..."
          .input-group-btn
            %button.btn.btn-default
              %i.glyphicon.glyphicon-search
.container
  .row
    .col-md-12.text-center
      = link_to "Home", root_path, class: "border"
      |
      = link_to "Add another Prescription", new_drug_path, class: "border"
.container-fluid
  .row
  - p = 0
  - o = 1
  %ul{class: "drug-pages"}
    - @drugs.each_slice(9) do |row|
      %li{class: "paginatedrug_#{p+1}"}
        - p = p + 1
        - row.each do |drug|
          .col-md-4.drugs
            %br
            %strong Name:
            = link_to drug.name, drug_path(drug)
            %br
            %strong Description:
            = drug.description
            %br
            %strong Cost:
            = drug.cost
            %br
            = link_to "Edit", edit_drug_path(drug)
            |
            = link_to "Delete", drug_path(drug), method: :delete
        %br
    %br
.col-md-12.text-center
  %ul{class: "link_list"}
    - p.times do
      %li{class: "linkdrug_#{o}", id: "pagination"}
        %a{class: "linkdrug_#{o}", drug_num: o}
          = "#{o}"
      - o += 1
%br
%br
.container
  .row
    %div
      .jumbotron-asia
  .row
    %h2.text-center
      Interested?
%br
.container
  .row
    .col-md-6
      %div
        .image-4
    .col-md-6
      %div
        %h4.partner-link
          Contact Us
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
%br
