%h1 Prescription Data
%ul
  %li
    %strong Prescription name:
    = @drug.name
  %br/
  %li
    %strong Prescription description:
    = @drug.description
  %br/
  %li
    %strong Prescription cost:
    = @drug.cost
  %br/
%br/
= link_to "Edit", edit_drug_path(@drug)
= link_to "Home", drugs_path
%br/
