<h1>Prescription Data</h1>
<ul>
<li>Name: <%= @drug.name %></li>
<br>
<li>Description: <%= @drug.description %></li>
<br>
<li>Cost: <%= @drug.cost %></li>
<br>
</ul>
<br>
<%= link_to "Edit", edit_clinic_patient_drug_path(@clinic, @patient, @drug) %>
<%= link_to "Home", clinic_patient_drugs_path %>
<br>

