= form_for(@clinic) do |f|
  - if @clinic.errors.any?
    - @clinic.errors.full_messages.each do |message|
      %div{class: "error-clinic"}
        = message
  .form-group
    = f.label :name, class: "col-md-2 control-label", id: "nameLabel"
    = f.text_field :name, class: "form-control", placeholder: "Name", id: "nameInput"
  .form-group
    = f.label :address, class: "col-md-2 control-label"
    = f.text_field :address, class: "form-control", placeholder: "Address"
  .form-group
    = f.label :city, class: "col-md-2 control-label"
    = f.text_field :city, class: "form-control", placeholder: "City"
  .form-group
    = f.label :state
    = f.select :state, options_for_select(Clinic::STATES, f.object.state)
  .form-group
    = f.label :zip, class: "col-md-2 control-label"
    = f.text_field :zip, class: "form-control", placeholder: "Zip Code"
  %button.btn.btn-success{:type => "submit", id: "create"} Create Clinic
