<h1>Clinics</h1>
<ul>
<% @clinics.each do |clinic| %>
  <li><%= clinic.name %></li>
  <li><%= clinic.address %></li>
  <li><%= clinic.city %></li>
  <li><%= clinic.state %></li>
  <li><%= clinic.zip %></li>
<% end %>
</ul>