.container
  .row
    .col-md-12.jumbotron-clinics
.container
  .row
    %h1.text-center.drug-headline
      Our Partners
%br
.container
  .row.section-2
    .col-md-6
      .image-8
    .col-md-6
      %h3.partner-link
        Deliverable
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %br
  .row
    .col-md-6
      .image-9
    .col-md-6
      %h3.partner-link
        Robust
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %br
  .row.section-2
    .col-md-6
      .image-10
    .col-md-6
      %h3.partner-link
        Game changer
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.container
  .row
    .col-md-12.text-center
      = form_tag clinics_path, method: :get, class: "navbar-form", role: "search" do
        .input-group
          = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search our Partners..."
          .input-group-btn
            %button.btn.btn-default
              %i.glyphicon.glyphicon-search
.container
  .row
    .col-md-12.text-center
      %h3
        .input-group-btn
          %button.btn.btn-default1
            = link_to "New Clinic", new_clinic_path, class: "default1"
      %br
.row
- page = 0
- y = 1
%ul{class: "clinic-pages"}
  - @clinics.each_slice(9) do |row|
    %li{class: "paginate_#{page+1}"}
      - page = page + 1
      - row.each do |clinic|
        .col-md-4.clinics
          %br
          %strong Name:
          = link_to clinic.name, clinic_path(clinic)
          %br
          %strong Address:
          = clinic.address
          %br
          %strong City:
          = clinic.city
          %br
          %strong State:
          = clinic.state
          %br
          %strong Zip:
          = clinic.zip
          %br
          = link_to "Edit", edit_clinic_path(clinic)
          |
          = link_to "Delete", clinic_path(clinic), method: :delete
      %br
  %br
.col-md-12.text-center
  %ul{class: "clinic_list"}
    - page.times do
      %li{class: "link_#{y}", id: "pagination"}
        %a{class: "link_#{y}", clinic_num: y}
          = "#{y}"
      - y += 1
%br
%br
.container
  .row
    .col-md-12.jumbotron-icey
  .row
    .col-md-12.text-center
      %h2.partner-link
        Interested?
%br
.container
  .row
    .col-md-6
      %div
        .image-4
    .col-md-6
      %div
        %h4.partner-link
          Contact Us
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
%br
