.container
  .row
    .col-md-12.text-center.jumbotron
      %h1
        Our Clinics

.container
  .row
    .col-md-12.text-center
      %ul.list-unstyled
        - @clinics.each do |clinic|
          %br
          %strong
            Clinic Name: 
          %li= clinic.name
          %strong
            Address:
          %li= clinic.address
          %strong
            City:
          %li= clinic.city
          %strong
            State:
          %li= clinic.state
          %strong
            Zip Code:
          %li= clinic.zip
