.container
  .row
    %h2.text-center
      Our Partners
    %ul.list-unstyled.list-group
      - @clinics.each do |clinic|
        .col-md-4
          .list-group-item-patients
            %br
            %strong
              Clinic Name: 
            = link_to clinic.name, clinic_path(clinic)
            %br
            %strong
              Address:
            = clinic.address
            %br
            %strong
              City:
            = clinic.city
            %br
            %strong
              State:
            = clinic.state
            %br
            %strong
              Zip Code:
            = clinic.zip
            %br
