.container
  .row
    %h2.text-center
      Our Partners
.container
  .row
    .col-md-12.text-center
      = form_tag clinics_path, method: :get, class: "navbar-form", role: "search" do
        .input-group
          = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
          .input-group-btn
            %button.btn.btn-default
              %i.glyphicon.glyphicon-search
.container
  .row
    .col-md-12.text-center
      %h3
        .input-group-btn
          %button.btn.btn-default
            = link_to "New Clinic", new_clinic_path
      %br

    %ul.list-unstyled.list-group
      - @clinics.each do |clinic|
        .col-md-4
          .list-group-item-patients
            %br
            %strong
              Clinic Name: 
            = link_to clinic.name, clinic_path(clinic)
            %br
            %strong
              Address:
            = clinic.address
            %br
            %strong
              City:
            = clinic.city
            %br
            %strong
              State:
            = clinic.state
            %br
            %strong
              Zip Code:
            = clinic.zip
            %br
