.container
  .row
    %h2.text-center
      Our Partners
.container
  .row
    .col-md-12.text-center
      = form_tag clinics_path, method: :get, class: "navbar-form", role: "search" do
        .input-group
          = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
          .input-group-btn
            %button.btn.btn-default
              %i.glyphicon.glyphicon-search
.container
  .row
    .col-md-12.text-center
      %h3
        .input-group-btn
          %button.btn.btn-default1
            = link_to "New Clinic", new_clinic_path, class: "default1"
      %br
.row
- page = 0
- y = 1
%ul{class: "clinic-pages"}
  - @clinics.each_slice(10) do |row|
    %li{class: "paginate_#{page+1}"}
      - page = page + 1
      - row.each do |clinic|
        .col-md-4
          %br
          %strong Name:
          = link_to clinic.name, clinic_path(clinic)
          %br
          %strong Address:
          = clinic.address
          %br
          %strong City:
          = clinic.city
          %br
          %strong State:
          = clinic.state
          %br
          %strong Zip:
          = clinic.zip
          %br
          = link_to "Edit", edit_clinic_path(clinic)
          |
          = link_to "Delete", clinic_path(clinic), method: :delete
      %br
  %br
.col-md-12.text-center
  %ul{class: "clinic_list"}
    - page.times do
      %li{class: "link_#{y}"}
        %a{class: "link_#{y}", clinic_num: y}
          = "#{y}"
        |
      - y += 1
%br
%br