
.container
  .row
    .col-md-12.text-center
      %h4 Clinic Information
.container
  .row
    .col-md-12.text-center
      %p.notice= notice
      %p.alert= alert
.container
  .row
    .col-md-12.text-center
      %ul.list-unstyled
        %li
          %strong Name:
          = @clinic.name
          %br
        %li
          %strong Address:
          = @clinic.address
          %br
        %li
          %strong City:
          = @clinic.city
          %br
        %li
          %strong State:
          = @clinic.state
          %br
        %li
          %strong Zip:
          = @clinic.zip
          %br
      %p

        = link_to "Add Patient", new_clinic_patient_path(@clinic), class: "link"
        %br
        = link_to "Add Prescription", new_drug_path, class: "link"
        %br/
        %br/

.container
  .row
    .col-md-12.text-center
      %h3
        %strong
          = link_to "View our Patients", clinic_patients_path(@clinic), class: "link"

.container
  .row
    .col-md-12.text-center
      %h3
        %strong Clinic Doctors


.container
  .row
    .col-md-12.text-center
      = form_for @doctor, url: create_doctor_clinic_path(@clinic), class: "navbar-form", role: "input" do |f| 
        = f.label :name 
        = f.text_field :name, class: "form-control"
        %button.btn.btn-default
          Create Doctor
      = form_tag clinic_path(@clinic), method: :get, class: "navbar-form", role: "search" do
        .input-group
          = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
          .input-group-btn
            %button.btn.btn-default
              %i.glyphicon.glyphicon-search
  - @doctors.each do |doctor|
    .col-md-3
      %strong Name:
      = doctor.name
      %br
      = link_to "Delete Doctor", destroy_doctor_clinic_path(doctor), method: :delete
      %br
    

