<h1>Clinic</h1>
<ul>
<li>Name: <%= @clinic.name %></li>
<li>Address: <%= @clinic.address %></li>
<li>City: <%= @clinic.city %></li>
<li>State: <%= @clinic.state %></li>
<li>Zip: <%= @clinic.zip %></li>
</ul>
<p>
  <strong>Patient List:</strong>
  <%= link_to "Add Patient", new_clinic_patient_path(@clinic) %>
  <ul>
    <% @patients.each do |patient| %>
      <li>First name: <%= link_to patient.first_name, clinic_patient_path(@clinic, patient) %></li>
      <li>Last name: <%= patient.last_name %></li>
      <li>Description: <%= patient.description %></li>
      <li>DOB: <%= patient.dob %></li>
      <li>Gender: <%= patient.gender %></li>
      <li>Blood Type: <%= patient.blood_type %></li>
      <li><%= link_to "Edit", edit_clinic_patient_path(@clinic, patient) %></li>
      <li> <%= link_to "Delete", clinic_patient_path(@clinic, patient), method: :delete %></li>

      <br>
    <% end %>
  </ul>
</p>

<%= link_to "Home", root_path %>