.container
  .row
    .col-md-12.text-center
      %p.notice= notice
      %p.alert= alert
.container
  .row
    .col-md-6
      %h4 Clinic Information
    .col-md-6
      %h4 Contact this Clinic
  .row
    .col-md-6
      %ul.list-unstyled
        %li
          %strong Name:
          = @clinic.name
          %br
        %li
          %strong Address:
          = @clinic.address
          %br
        %li
          %strong City:
          = @clinic.city
          %br
        %li
          %strong State:
          = @clinic.state
          %br
        %li
          %strong Zip:
          = @clinic.zip
          %br

        = link_to "Add Patient", new_clinic_patient_path(@clinic), class: "link"
        %br
        = link_to "Add Prescription", new_drug_path, class: "link"
        %br
        = link_to "View Clinic Patients", clinic_patients_path(@clinic), class: "link"
    .col-md-6
      .image-14
.container
  .row
    .col-md-6
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-md-6
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.container
  .row
    .col-md-6
      %h3
        Clinic Doctors
      = form_for @doctor, url: create_doctor_clinic_path(@clinic), class: "navbar-form", role: "input" do |f| 
        = f.label :name 
        = f.text_field :name, class: "form-control"
        %button.btn.btn-default
          Create Doctor
      = form_tag clinic_path(@clinic), method: :get, class: "navbar-form", role: "search" do
        .input-group
          = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
          .input-group-btn
            %button.btn.btn-default
              %i.glyphicon.glyphicon-search
      - @doctors.each do |doctor|
        %strong Name:
        = doctor.name
        %br
        = link_to "Delete Doctor", destroy_doctor_clinic_path(doctor), method: :delete
        %br
    .col-md-6
      %h3 Physicians
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    

