<h1>Hospitals</h1>

<%= link_to "New Clinic", new_clinic_path %>
<br>
<ul>
<% @clinics.each do |clinic| %>
  <br>
  <li><strong>Name:</strong> <%= link_to clinic.name, clinic_path(clinic) %></li>
  <li><strong>Address:</strong> <%= clinic.address %></li>
  <li><strong>City:</strong> <%= clinic.city %></li>
  <li><strong>State:</strong> <%= clinic.state %></li>
  <li><strong>Zip:</strong> <%= clinic.zip %></li>
  <%= link_to "Edit", edit_clinic_path(clinic) %>
  <%= link_to "Delete", clinic_path(clinic), method: :delete, data: {confirm: "Are you sure you want to delete record?"} %>
  <br>
<% end %>
</ul>

