= render 'home/jumbotron'
.container
  .row
    .col-md-12.text-center
      %h3
        Our Partners
.container
  .row
    .col-md-12.text-center
      %h3
      .btn.btn-default
        = link_to "New Clinic", new_clinic_path
    %br/
.container
  .row
  .col-md-12.text-center
    / %ul.list-unstyled
    - @clinics.each do |clinic|
      .col-md-4
        %br
        %strong Name:
        = link_to clinic.name, clinic_path(clinic)
        %br
        %strong Address:
        = clinic.address
        %br
        %strong City:
        = clinic.city
        %br
        %strong State:
        = clinic.state
        %br
        %strong Zip:
        = clinic.zip
        %br
        = link_to "Edit", edit_clinic_path(clinic)
        |
        = link_to "Delete", clinic_path(clinic), method: :delete, data: {confirm: "Are you sure you want to delete record?"}
        %br
