<h1>Hospitals</h1>

<%= link_to "New Clinic", new_clinic_path %>
<br>
<ul>
<% @clinics.each do |clinic| %>
  <br>
  <li>Name: <%= link_to clinic.name, clinic_path(clinic) %></li>
  <li>Address: <%= clinic.address %></li>
  <li>City: <%= clinic.city %></li>
  <li>State: <%= clinic.state %></li>
  <li>Zip: <%= clinic.zip %></li>
  <%= link_to "Edit", edit_clinic_path(clinic) %>
  <%= link_to "Delete", clinic_path(clinic), method: :delete %>
  <br>
<% end %>
</ul>

