%h1 Hospitals
= link_to "New Clinic", new_clinic_path
%br/
%ul
  - @clinics.each do |clinic|
    %br/
    %li
      %strong Name:
      = link_to clinic.name, clinic_path(clinic)
    %li
      %strong Address:
      = clinic.address
    %li
      %strong City:
      = clinic.city
    %li
      %strong State:
      = clinic.state
    %li
      %strong Zip:
      = clinic.zip
    = link_to "Edit", edit_clinic_path(clinic)
    = link_to "Delete", clinic_path(clinic), method: :delete, data: {confirm: "Are you sure you want to delete record?"}
    %br/
