%br
.container.group
  .row
    .col-md-12.text-center
      %ul.list-group.list-unstyled
        - @patients.each do |patient|
          .col-md-4
            .list-group-item-patients
              %br
              %li{class: "patient-#{patient.id}"}
                %strong Patient state:
                = workflow_state_helper_method(patient)
                %br
                %strong First name:
                = patient.first_name
                %br
                %strong Last name:
                = patient.last_name
                %br
                %strong Description:
                = patient.description
                %br
                %strong DOB:
                = patient.dob
                %br
                %strong Gender:
                = patient.gender
                %br
                %strong Blood Type:
                = patient.blood_type
              = link_to "View Patient Records", clinic_patient_path(@clinic, patient)
              |
              = link_to "Edit", edit_clinic_patient_path(@clinic, patient)
              |
              = link_to "Delete", clinic_patient_path(@clinic, patient), method: :delete
              %br 
