.container
  .row
    .col-md-12.text-center
      %form.search_form
        .form-inline
          %label{:for => "search_patient_name"} Search Patient:
          = text_field_tag :search_patient_name, '', class: 'form-control'
          %a#search_patient_button.btn.btn-primary Search
.container
  .row
    .col-md-12.text-center
      %ul.list-group.list-unstyled
        - @patients.each do |patient|
          .col-md-4
            .list-group-item-patients
              %br
              %li{class: "patient-#{patient.id}"}
                %strong Patient state:
                = workflow_state_helper_method(patient)
                %br
                %strong First name:
                = patient.first_name
                %br
                %strong Last name:
                = patient.last_name
                %br
                %strong Description:
                = patient.description
                %br
                %strong DOB:
                = patient.dob
                %br
                %strong Gender:
                = patient.gender
                %br
                %strong Blood Type:
                = patient.blood_type
              = link_to "View Patient Records", clinic_patient_path(@clinic, patient)
              |
              = link_to "Edit", edit_clinic_patient_path(@clinic, patient)
              |
              = link_to "Delete", clinic_patient_path(@clinic, patient), method: :delete
              %br/
.container
  .row
    .col-md-12.text-center
      = link_to "Return to Clinic", clinic_path(@clinic)
