.container
  .row
    .col-md-12.text-center
      = form_tag clinic_patients_path(@clinic), method: :get, class: "navbar-form", role: "search" do
        .input-group
          = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
          .input-group-btn
            %button.btn.btn-default
              %i.glyphicon.glyphicon-search
.container
  .row
    .col-md-12.text-center
      %ul.list-group.list-unstyled
        - @patients.each do |patient|
          .col-md-4
            .list-group-item-patients
              %br
              %li
                %strong Patient state:
                = workflow_state_helper_method(patient)
              %li
                %strong First name:
                = patient.first_name
              %li
                %strong Last name:
                = patient.last_name
              %li
                %strong Description:
                = patient.description
              %li
                %strong DOB:
                = patient.dob
              %li
                %strong Gender:
                = patient.gender
              %li
                %strong Blood Type:
                = patient.blood_type
              = link_to "View Patient Records", clinic_patient_path(@clinic, patient)
              |
              = link_to "Edit", edit_clinic_patient_path(@clinic, patient)
              |
              = link_to "Delete", clinic_patient_path(@clinic, patient), method: :delete
              %br/
.container
  .row
    .col-md-12.text-center
      = link_to "Return to Clinic", clinic_path(@clinic)
