
.container
  .row
    .col-md-12.text-center
      %ul.list-unstyled
        .list-group-item-patients
          %li
            %strong Patient state:
            = workflow_state_helper_method(@patient)
          %br
          %li
            %strong Patient name:
            = @patient.first_name
            = @patient.last_name
          %br/
          %li
            %strong Patient Date of Birth:
            = @patient.dob
          %br/
          %li
            %strong Patient Issue:
            = @patient.description
          %br/
          %li
            %strong Patient Gender:
            = @patient.gender
          %br/
          %li
            %strong Patient Bloodtype:
            = @patient.blood_type
.container
  .row
    .col-md-12.text-center
      .list-group-item-patients
        %h4
          Patient State Options
        / helper method
        = patient_state?(@patient)
%br
.container
  .row
    .col-md-12.text-center
      .list-group-item-patients
        %h4
          = link_to "Edit Patient", edit_clinic_patient_path(@clinic, @patient)
        %strong
          Prescription List:
        %br
        = form_tag clinic_patient_path(@clinic, @patient), method: :get, class: "navbar-form", role: "search" do
          .input-group
            = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
            .input-group-btn
              %button.btn.btn-default
                %i.glyphicon.glyphicon-search
          
          - @drugs.each do |drug|
            %br
            = drug.name
            |
            = drug.description
            |
            = drug.cost
            %br
            = link_to "View Prescription", drug_path(drug)
            |
            = link_to "Edit Prescription", edit_drug_path(drug)
            |
            = link_to "Delete Prescription", drug_path(drug), method: :delete
%br
.container
  .row
    .col-md-12.text-center
      .list-group-item-patients
        %strong
          Add Doctor to Patient:
        = form_for @doctor, url: create_doctor_clinic_patient_path(@clinic, @patient) do |f| 
          = f.label :name 
          = f.text_field :name
          %br
          = f.submit
%br
.container
  .row
    .col-md-12.text-center
      .list-group-item-patients
        %strong
          Doctor List
        = form_tag clinic_patient_path(@clinic, @patient), method: :get, class: "navbar-form", role: "search" do
          .input-group
            = text_field_tag 'y', params[:y], class: "form-control", id: "srch-term", placeholder: "Search"
            .input-group-btn
              %button.btn.btn-default
                %i.glyphicon.glyphicon-search

        - @doctors.each do |doctor|
          %br
          %strong Name:
          = doctor.name
          %br
          = link_to "Delete Doctor", destroy_doctor_clinic_patient_path(@patient, doctor), method: :delete
          %br
        = link_to "Return to Clinic", clinic_path(@clinic)
        %br
